@import 'https://fonts.googleapis.com/css?family=Lato';

html {
  font-family: 'Lato','Helevetica', sans-serif;
}

body {
  color: #333;
  font-weight: 100;
}

#write {
  padding-top: 30px;
  max-width: 50em;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 48px;
}
.text {
  padding: 20px;
  font-size: 30px;
}
div:focus{
  outline: none;
}

p {
  color: #333;
  bottom: 0;
  right: 0;
  position: fixed;
  padding-right: 20px;
}

p a  {
  text-decoration: none;
  color: #333;
  text-decoration: underline;
}
